# Member list
memblist.txt
github_repoinfomodule2.csv
github_repos_metrics.csv
github_externalcontr.csv
github_repobasicmetrics.csv
github_uniquecollaborators.csv
github_RepoStatsContributions.csv


# Other
bin/
include/
lib/
pip-selfcheck.json
pyvenv.cfg