# Member list
memblist*.txt


# Other
credentials_google_drive.json
bin/
include/
lib/
output/
pip-selfcheck.json
pyvenv.cfg
WIP/
WIP/**
metrics-env/
metrics-env/**
output/**
update_gsheet.py
*.csv

.env