beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
cryptography==1.7.2
googlemaps==2.5.1
gspread==3.0.0
httplib2==0.11.3
idna==2.6
jwt==0.5.2
numpy==1.13.3
oauth2client==4.1.2
pandas==0.21.0
progressbar==2.5
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
PyGithub==1.35
PyJWT==1.5.3
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
rsa==3.4.2
selenium==3.8.1
six==1.11.0
slacker==0.9.60
urllib3==1.22
